<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/empuser">Home</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Logout</a>
    </li>
  </ul>
</nav>
<div class="col-md-6">
  <h2 class="text-center"> Employee Data</h2>
   <!-- <ul>
      
     <li>
      <label >EmpId: {{Data.id}}</label>
     
    </li>
    <li>
      <label >Name: {{Data.name}}</label>
     
    </li>
    <li>
      <label >Gender: {{Data.gender}}</label>
     
    </li>
    <li>
      <label >Email: {{Data.Email}}</label>
     
    </li>
    <li>
      <label >DOB: {{Data.dob}}</label>
     
    </li>
    <li>
      <label >Department:  {{Data.department}}</label>
     
    </li>
    <li>
      <label >Leaves: {{Data.leaves}}</label>
     
    </li>
    
    </ul>  -->
   
</div>




  
