<h2 style="text-align: center">Login Form</h2>

<form name="form" (submit)="loginuser($event)" action="/action_page.php">
  <div class="imgcontainer">
    <img src="assets/images/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container center_div">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" #username="ngModel" ngModel name="uname" required>
    <div class="alert alert-danger" *ngIf="username.touched && !username.valid">Username is required</div>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" #password="ngModel" ngModel name="psw" required>
    <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required</div>  
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container center_div1" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
